*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos generales */
.titulo-dos{
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.parrafo{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 40px;
}

p .negrita{
    display: block;
    margin-top: 20px;
}



/* Estilos del Heades y Nav */
.header{
    box-shadow: 0px 0px 10px #222;
    position: fixed;
    width: 100%;
}
.header .navbar img{
    width: 50px;
    margin-right: 15px;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.navbar{
    background-color: #fff;
}
.navbar .ul{
    width: 100%;
    display: flex;
    justify-content: right;
}
.navbar ul li{
    margin: 0px 10px;
}
.navbar .ul li a{
    font-weight: 600;
    color: #222;
    transition: all .3s;
    text-align: center;
}
.navbar .ul li a:hover{
    font-weight: 600;
    transform: scale(.9);
    color: #ffa600;
}
.navbar .ul .li-contacto{
    padding: 0px 30px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #ffa600;
}
.navbar .ul .li-contacto a{
    color: #ffa600;
    font-weight: 700;
    display: block;
    
}
.navbar .ul .li-contacto a:hover{
    font-weight: 700;
}

.navbar .buton{
    border: none;
    box-shadow: none;
    outline: none;
}

.navbar .buton span{
    background-image: url(../img/menu.png);
}


/* Seccion Main */
.main{
    width: 100%;
    padding-top: 75px;
}

/* Seccion Hero */

.hero{
    width: 100%;
    height: calc(100vh - 75px);
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#00000038, #000000de), url(../img/Wallpapers/index.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.hero h1{
    text-align: center;
    font-size: 3.4em;
    font-weight: 700;
    color: #fff;
}
.hero h1 span{
    font-size: 1.4em;
    color: #ffa600;
    font-weight: 700;
}
.hero p{
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.boton{
    text-decoration: none;
    padding: 10px 20px;
    border:3px solid #ffa600;
    color: #ffa600;
    border-radius: 20px;
    font-weight: 700;
    transition: all .3s;
}.boton:hover{
    box-shadow: 0px 0px 15px #ffa600;
    text-shadow: 0px 0px 15px #ffa600;
    transform: scale(.9);
}


/* Seccion Sobre One-Site */

.sobre-oneSite{
    padding: 70px 0px;
}
.sobre-oneSite .row{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.sobre-oneSite .row img{
    border-radius: 20px;
    box-shadow: 0px 0px 20px #bbb;
}
.sobre-oneSite h2{
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
}
.sobre-oneSite h2 span{
    font-size: 1.3em;
    font-weight: 700;
    color: #ffa600;
    text-decoration: line-through;
}

.sobre-oneSite p{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 40px;
}

.sobre-oneSite p b{
    display: block;
    margin-top: 20px;
}


/* Seccion de Noticias */
.noticias{
    padding: 60px 40px;
    background: linear-gradient(#000000a2, #0000009d), url(../img/index/noticias.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.noticias h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    font-weight: 700;
    color: #fff;
}

/* Otra seccion */

.mas-onePiece{
    padding: 90px 0px;
}

.mas-onePiece img{
    border-radius: 20px;
    box-shadow: 0px 0px 20px #bbb;
}

.mas-onePiece h2 span{
    font-size: 1.2em;
    color: #ffa600;
}

/* Footer  */

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    height: 300px;
    background: linear-gradient(#000000d5, #000000d5), url(../img/Wallpapers/footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-enlaces ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer-enlaces ul li{
    margin: 10px 20px;
}
.footer-enlaces li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
}
.footer p{
    color: #fff;
    margin-top: 10px;
    font-size: .9rem;
    font-weight: 500;
}
.footer img{
    width: 60px;
}


/* Seccion de Hero Arcos */

/* hero */
.hero-arcos{
    background-image:linear-gradient(#00000018,#000000a9), url(../img/Wallpapers/Arcos.jpg);
}

/* arcos */

.arcos div img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #bbb;
}

.arcos .row{
    padding: 80px 0px;
}
.arcos .row h2{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 20px;
}
.arcos .row h2 span{
    color: #ffa600;
    font-size: 1.2em;
}

.arcos .row p{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 40px;
}

.arcos-marineford{
    padding: 0 10%;
    background:linear-gradient(#ffffffbd, #ffffff), url(../img/Arcos/MarineFord1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.arcos-eastBlue{
    padding: 0 10%;
    background:linear-gradient(#ffffffbd, #ffffff), url(../img/Arcos/EastBlue1.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}



/* Seccion del Manga */
.hero-manga{
    background-image:linear-gradient(#00000018,#000000a9), url(../img/Wallpapers/MangaAnime.webp);
}

.container-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ccc;
}

.manga-anime{
    padding: 100px 0px;
}

.container-textos h2{
    font-size: 2.4em;
    font-weight: 700;
    text-align: center;
}
.container-textos h2 span{
    color: #ffa600;
    text-decoration: line-through;
}

.container-textos p{
    font-size: 1em;
    font-weight: 500;
}

.container-textos h3{
    text-align: center;
    font-size: 2.3em;
    font-weight: 700;
}

.container-textos ul {
    list-style:circle;
    padding: 0px;
}
.container-textos ul li{
    margin-top: 10px;
    font-size: 1em;
    font-weight: 500;
}

.container-textos .manga{
    margin: 40px 0;
}
.container-textos .manga .boton{
    display: block;
    width: 100%;
    text-align: center;
    background-color: #ffa600;
    color: #fff;
}

.container-textos .anime .boton{
    display: block;
    width: 100%;
    text-align: center;
}



/* Seccion de Multimedia */

.hero-multimedia{
    background-image:linear-gradient(#00000018,#000000a9), url(../img/Wallpapers/Multimedia.avif);
}

.galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.galeria h2{
    font-size: 2.4em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.galeria h2 span{
    color: #ffa600;
}

.galeria .galeria-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
    gap: 10px;
}

.galeria .galeria-container img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.tres{
    grid-column: 3/4;
    grid-row: 1/3;
}
.cuatro{
    grid-column: 1/3;
}
.ocho{
    grid-column:2/4;
}