*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Estilos generales */


/* Estilos del Heades y Nav */
.header{
    box-shadow: 0px 0px 10px #222;
    position: fixed;
    width: 100%;
}
.header .navbar img{
    width: 50px;
    margin-right: 15px;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.navbar{
    background-color: #fff;
}
.navbar .ul{
    width: 100%;
    display: flex;
    justify-content: right;
}
.navbar ul li{
    margin: 0px 10px;
}
.navbar .ul li a{
    font-weight: 600;
    color: #222;
    transition: all .3s;
    text-align: center;
}
.navbar .ul li a:hover{
    font-weight: 600;
    transform: scale(.9);
    color: #ffa600;
}
.navbar .ul .li-contacto{
    padding: 0px 30px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #ffa600;
}
.navbar .ul .li-contacto a{
    color: #ffa600;
    font-weight: 700;
    display: block;
    
}
.navbar .ul .li-contacto a:hover{
    font-weight: 700;
}

.navbar .buton{
    border: none;
    box-shadow: none;
    outline: none;
}

.navbar .buton span{
    background-image: url(../img/menu.png);
}


/* Seccion Main */
.main{
    width: 100%;
    padding-top: 75px;
}

/* Seccion Hero */

.hero{
    width: 100%;
    height: calc(100vh - 75px);
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50%;
    background: linear-gradient(#00000038, #000000de), url(../img/Wallpapers/index.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.hero h1{
    text-align: center;
    font-size: 3.4em;
    font-weight: 700;
    color: #fff;
}
.hero p{
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.boton{
    text-decoration: none;
    padding: 10px 20px;
    border:3px solid #ffa600;
    color: #ffa600;
    border-radius: 20px;
    font-weight: 700;
    transition: all .3s;
}.boton:hover{
    box-shadow: 0px 0px 15px #ffa600;
    text-shadow: 0px 0px 15px #ffa600;
    transform: scale(.9);
}


/* Seccion Sobre One-Site */

.sobre-oneSite{
    padding: 60px 0px;
}
.sobre-oneSite .row{
    display: flex;
    justify-content:center ;
    align-items: center;
}

.sobre-oneSite h2{
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.sobre-oneSite p{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 40px;
}

.sobre-oneSite p b{
    display: block;
    margin-top: 20px;
}


/* Seccion de Noticias */
.noticias{
    padding-bottom: 60px;
}

.noticias h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 40px;
    font-weight: 700;
}

/* Otra seccion */

